@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#root {
  /* background-image: url("images/root.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: backgroundAnimation 3s ease-in-out; /* Apply animation to root background */
}

@keyframes backgroundAnimation {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 110%;
  }
  100% {
    background-size: 100%;
  }
}

.navbar {
  color: rgb(255, 255, 255);
  padding: 10px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo {
  width: 50px;
  margin-left: -20px;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-link {
  text-decoration: none;
  color: rgb(248, 246, 249);
  transition: color 0.3s ease;
  text-shadow: #23A6D5;
  font-weight: bolder;
}

.navbar-link:hover {
  color: #61dafb;
}

.main-section {
  height: calc(100vh - 60px); /* Adjust for navbar height */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add reload animation */
@keyframes reloadAnimation {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.content {
  text-align: center;
  color: rgb(13, 7, 1);
  animation: reloadAnimation 2s cubic-bezier(0.42, 0, 0.58, 1) forwards; /* Apply animation to content */
}

.content h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.content p {
  font-size: 1.5em;
}

/* Other styles remain unchanged */

